.Pre {
	background-color: white;
	border-color: silver;
	border-style: dashed;
	border-width: 1px;
	font-family: monospace;
	max-height: 80vh;
	min-height: 20vh;
	height: 40vh;
	padding: .5em .8em;
	tab-size: 4;
	width: 100%;
}