* {
	margin: 0;
	padding: 0;
}
#App dl, #App ol, #App ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#App {
	/* background-color: whitesmoke; */
	background-color: rgb(202, 203, 206);
	min-height: 100vh;
}
label {
	cursor: pointer;
	user-select: none;
}
.loading {
	opacity: .4;
}